src/main/resources/xsd/pip/Domain/Shared/Shared_01_04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 rel. 3 sp1 (http://www.altova.com) by Yuan Moe, Lui (Crimsonlogic) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:urss="urn:rosettanet:specification:system:xml:1.0" xmlns:tns="urn:rosettanet:specification:domain:Shared:xsd:schema:01.04" xmlns:udt="urn:rosettanet:specification:universal:DataType:xsd:schema:01.03" xmlns:rrt="urn:rosettanet:specification:domain:Shared:RateType:xsd:codelist:01.01" xmlns:ud="urn:rosettanet:specification:universal:Dates:xsd:schema:01.03" xmlns:ri="urn:rosettanet:specification:domain:Shared:Interval:xsd:codelist:01.01" xmlns:rwtc="urn:rosettanet:specification:domain:Shared:WarrantyType:xsd:codelist:01.01" xmlns:rptc="urn:rosettanet:specification:domain:Shared:PricingTypeCode:xsd:codelist:01.02" xmlns:ume="urn:rosettanet:specification:universal:MonetaryExpression:xsd:schema:01.02" xmlns:rpmt="urn:rosettanet:specification:domain:Shared:PaymentType:xsd:codelist:01.01" xmlns:rict="urn:rosettanet:specification:domain:Shared:InvoiceChargeType:xsd:codelist:01.01" xmlns:rmat="urn:rosettanet:specification:domain:Shared:MonetaryAmountType:xsd:codelist:01.01" xmlns:rat="urn:rosettanet:specification:domain:Shared:AmountType:xsd:codelist:01.01" targetNamespace="urn:rosettanet:specification:domain:Shared:xsd:schema:01.04" elementFormDefault="qualified" attributeFormDefault="unqualified" version="01.04">
	<xs:import namespace="urn:rosettanet:specification:universal:DataType:xsd:schema:01.03" schemaLocation="../../Universal/DataType_01_03.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:domain:Shared:RateType:xsd:codelist:01.01" schemaLocation="CodeList/RN_RateType_01_01.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:universal:Dates:xsd:schema:01.03" schemaLocation="../../Universal/Dates_01_03.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:domain:Shared:Interval:xsd:codelist:01.01" schemaLocation="CodeList/RN_Interval_01_01.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:domain:Shared:WarrantyType:xsd:codelist:01.01" schemaLocation="CodeList/RN_WarrantyType_01_01.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:domain:Shared:PricingTypeCode:xsd:codelist:01.02" schemaLocation="CodeList/RN_PricingTypeCode_01_02.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:universal:MonetaryExpression:xsd:schema:01.02" schemaLocation="../../Universal/MonetaryExpression_01_02.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:domain:Shared:PaymentType:xsd:codelist:01.01" schemaLocation="CodeList/RN_PaymentType_01_01.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:domain:Shared:InvoiceChargeType:xsd:codelist:01.01" schemaLocation="CodeList/RN_InvoiceChargeType_01_01.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:domain:Shared:MonetaryAmountType:xsd:codelist:01.01" schemaLocation="CodeList/RN_MonetaryAmountType_01_01.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:domain:Shared:AmountType:xsd:codelist:01.01" schemaLocation="CodeList/RN_AmountType_01_01.xsd"/>
	<xs:annotation>
		<xs:documentation>
			<urss:Copyright>© 2006 RosettaNet. All rights reserved. No part of this publication may be reproduced, stored in a retrieval system, or transmitted, in any form or by any means, electronic, mechanical, photocopying, recording, or otherwise, without the inclusion of this copyright notice. Any derivative works must cite the copyright notice. Any public redistribution or sale of this publication or derivative works requires prior written permission of the publisher.</urss:Copyright>
			<urss:Disclaimer>RosettaNet makes no representation about the suitability of this work for any purpose or regarding any claims made by products which use it. It is provided as is without expressed or implied warranty.</urss:Disclaimer>
			<urss:Program/>
			<urss:Purpose/>
		</xs:documentation>
		<xs:appinfo>
			<urss:CreationDate>2006-02-23</urss:CreationDate>
			<urss:LastUpdatedDate>2006-05-19</urss:LastUpdatedDate>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="CarrierInformation" type="tns:CarrierInformationType"/>
	<xs:element name="DatePeriodAndDuration" type="tns:DatePeriodAndDurationType"/>
	<xs:element name="Duration" type="tns:DurationType"/>
	<xs:element name="ManufacturedDate" type="tns:ManufacturedDateType"/>
	<xs:element name="MonetaryAmount" type="tns:MonetaryAmountType"/>
	<xs:element name="PaymentInformation" type="tns:PaymentInformationType"/>
	<xs:element name="ProductPricing" type="tns:ProductPricingType"/>
	<xs:element name="ProductQuantity" type="tns:ProductQuantityType"/>
	<xs:element name="QuantityInformation" type="tns:QuantityInformationType"/>
	<xs:element name="Rate" type="tns:RateType"/>
	<xs:element name="SCAC" type="tns:SCACType"/>
	<xs:element name="Warranty" type="tns:WarrantyType"/>
	<xs:complexType name="CarrierInformationType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>The collection of business properties that describe a carrier's identification.</urss:Definition>
				<urss:CreationDate>2006-02-23</urss:CreationDate>
				<urss:LastUpdatedDate>2006-02-23</urss:LastUpdatedDate>
				<urss:TypeVersion>01.00</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Identifier" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The unique identifier that identifies an account.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="tns:SCAC"/>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="DatePeriodAndDurationType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition/>
				<urss:CreationDate>2006-02-23</urss:CreationDate>
				<urss:LastUpdatedDate>2006-02-23</urss:LastUpdatedDate>
				<urss:TypeVersion>01.00</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element ref="ud:DatePeriod"/>
				<xs:element ref="tns:Duration"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="DurationType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>This object allows representation of a duration of time.</urss:Definition>
				<urss:CreationDate>2006-02-23</urss:CreationDate>
				<urss:LastUpdatedDate>2006-02-23</urss:LastUpdatedDate>
				<urss:TypeVersion>01.00</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Period" type="xs:duration">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Represents a duration of time. 
</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The date indicating the beginning of the duration.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="ManufacturedDateType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>The date the product was manufactured.</urss:Definition>
				<urss:CreationDate>2006-02-23</urss:CreationDate>
				<urss:LastUpdatedDate>2006-02-23</urss:LastUpdatedDate>
				<urss:TypeVersion>01.00</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ud:DatePeriod"/>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="MonetaryAmountType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>The collection of business properties that describe the monetary amount defined by a specified currency.</urss:Definition>
				<urss:CreationDate>2006-02-23</urss:CreationDate>
				<urss:LastUpdatedDate>2006-03-22</urss:LastUpdatedDate>
				<urss:TypeVersion>01.01</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="rat:AmountType" minOccurs="0"/>
			<xs:element ref="ume:FinancialAmount"/>
			<xs:element ref="rict:InvoiceChargeType" minOccurs="0"/>
			<xs:element ref="rmat:MonetaryAmountType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="PaymentInformationType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>The colllection of data entities that comprise information relative to a specific payment.
</urss:Definition>
				<urss:CreationDate>2006-02-23</urss:CreationDate>
				<urss:LastUpdatedDate>2006-02-23</urss:LastUpdatedDate>
				<urss:TypeVersion>01.00</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ume:FinancialAmount"/>
			<xs:element ref="rpmt:PaymentType"/>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="ProductPricingType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>The collection of business properties that describe the type of pricing and financial amount for a product.</urss:Definition>
				<urss:CreationDate>2006-02-23</urss:CreationDate>
				<urss:LastUpdatedDate>2006-02-23</urss:LastUpdatedDate>
				<urss:TypeVersion>01.00</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="tns:MonetaryAmount"/>
			<xs:element ref="rptc:PricingTypeCode"/>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:simpleType name="ProductQuantityType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>A quantity specifying the number of product units.</urss:Definition>
				<urss:CreationDate>2006-02-23</urss:CreationDate>
				<urss:LastUpdatedDate>2006-02-23</urss:LastUpdatedDate>
				<urss:TypeVersion>01.00</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:float"/>
	</xs:simpleType>
	<xs:complexType name="QuantityInformationType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>The collection of business properties that describes information regarding the quantity of the product shipped.</urss:Definition>
				<urss:CreationDate>2006-03-16</urss:CreationDate>
				<urss:LastUpdatedDate>2006-03-16</urss:LastUpdatedDate>
				<urss:TypeVersion>01.00</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RequestedQuantity" type="tns:ProductQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The quantity of product requested.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShippedQuantity" type="tns:ProductQuantityType">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Quantity of product shipped.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="RateType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>The percentage of an amount.</urss:Definition>
				<urss:CreationDate>2006-03-22</urss:CreationDate>
				<urss:LastUpdatedDate>2006-03-22</urss:LastUpdatedDate>
				<urss:TypeVersion>01.00</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="udt:PercentAmount"/>
			<xs:element ref="rrt:RateType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:simpleType name="SCACType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition/>
				<urss:CreationDate>2006-02-23</urss:CreationDate>
				<urss:LastUpdatedDate>2006-02-23</urss:LastUpdatedDate>
				<urss:TypeVersion>01.00</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{2,4}">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition/>
					</xs:appinfo>
				</xs:annotation>
			</xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="WarrantyType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>The collection of business properties that describes the details of a warranty applied to a product or service</urss:Definition>
				<urss:CreationDate>2006-02-23</urss:CreationDate>
				<urss:LastUpdatedDate>2006-02-23</urss:LastUpdatedDate>
				<urss:TypeVersion>01.00</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ud:DatePeriod" minOccurs="0"/>
			<xs:element name="Description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The issuer's proprietary number that is assigned to the product change notification.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Duration" type="ri:IntervalType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The length of time a product is under warranty.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="rwtc:WarrantyType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
</xs:schema>
